*{
    padding: 0;
    margin: 0;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

/* =============================
Navber css start
================================ */
nav{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-top: 40px;
    position: absolute;
    width: 100%;
}
nav .logo{
    width: 20%;
}
nav .navitems{
    width: 80%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 55px;
    
    
}
nav .navitems ul{
    column-gap: 55px;
}
nav .navitems a{
    color: white;
    border: 2px solid #fff;
    padding: 17px;
    border-radius: 12px;

}
nav .flex{
    align-items: center;
}
nav .navitems ul li:last-child{
    color: #212832;
    font-weight: 600;
}
nav ul li .dropdown{
    background-color: white;
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
nav ul li .dropdown ul li{
    margin: 5px 0;
}
nav ul li:hover .dropdown{
    opacity: 1;
    visibility: visible;
}
nav ul li{
    cursor: pointer;
}
/* =============================
Navber css end
================================ */

/* =============================
Banner css start
================================ */
#banner {
    background: url('../images/banner.png') no-repeat;
    padding-top: 211px;
    padding-bottom: 29px;
    background-position: top center;
    background-size: cover;
    box-shadow: 2px 20px 34px -4px rgba(231,172,114,0.69);
}
#banner .left{
    color: white;
    width: 50%;
}

 .left p span{
    margin: 0 11px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
#banner .left p span::after{
    content: "";
    width: 2px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
}
#banner .left h2{
    width: 506px;
    font-size: 47px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    position: relative;

}
#banner .left h2 img {
    position: absolute;
    right: -71px;
    bottom: -21px;
    animation: plan 5s infinite linear;
}
@keyframes plan{
    from{
        right: -71px;
        bottom: -21px;
    }
    to{
        right: -649px;
        bottom: 339px;
    }
}
#banner .left .most {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#banner .left .most i {
    font-size: 18px;
    width: 35px;
    height: 35px;
    border: 2px solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#banner .left .most h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
#banner .left .mostitems{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}
#banner .left .mostitems .item{
    width: 26%;
    background: rgba(255, 255, 255, 0.8);
    transition: .4s;
    border-radius: 12px;
    border: 2px solid #fff;
    padding: 10px;
    box-shadow: 0px 8px 39px -4px rgba(69,49,49,0.75);
    -webkit-box-shadow: 0px 8px 39px -4px rgba(69,49,49,0.75);
    -moz-box-shadow: 0px 8px 39px -4px rgba(69,49,49,0.75);
        
}
#banner .left .mostitems .item img {
    width: 100%;
    border-radius: 10px 10px 4px 4px;
    border: 2px solid transparent;
    transition: .4s;
}


#banner .left .mostitems .item:hover img{
    border: 2px solid #212832;
}
#banner .left .mostitems .item .title h4 {
    font-size: 18px;
    font-weight: 500;
    color: #023F76;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
    transform: translateX(0);
    transition: .4s;
}
#banner .left .mostitems .item:hover h4{
    transform: translateX(15px);
}
#banner .left .mostitems .item .title p{
    font-size: 14px;
    font-weight: 400;
    color: #023F76;
    font-family: 'Poppins', sans-serif;
    
}
#banner .left .mostitems .item:hover .title-bottom{
    transform: translateX(16px);
}

#banner .left .mostitems .item .title-bottom i{
    color: #212832;
    margin-right: 10px;
}
#banner .left .mostitems .item .title-bottom {
    display: flex;
    padding-bottom: 18px;
    transition: .3s;
}

.form-box{
    background: rgba(255, 255, 255, .4);
    padding: 36px 35px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 38px;
}
.form-box .box{
    background: #fff;
    border-radius: 12px;
    width: 80%;
}
.form-box .box form{
    display: flex;
    align-items: center;

}
.form-box .box form .box-container i{
    font-size: 20px;
}
.form-box .box form .box-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
    padding-left: 30px;
    border-right: 1px solid #2F4E84;
    padding-right: 40px;
}
.form-box .box form .box-container:last-child{
    border: 0;
}

.form-box .box form .box-container .right p{
    font-size: 14px;
    font-weight: 400;
}


.form-box .box form .box-container .right select {
    font-size: 16px;
    font-weight: bold;
    color: #3E4958;
    border: none;
    padding-right: 60px;

    
}

input{
    border: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.form-box button{
    padding: 26px 55px;
    border: 0;
    background-color: #E7AC72;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 12px;
}
/* =============================
Banner css end
================================ */
/* =============================
CATEGORY start
================================ */
#category{
   padding-top: 100px;
   position: relative;
}
#category .star{
    position: absolute;
    top: 0;
    right: 0;
}
#category .flex{
    justify-content: space-evenly;
    margin-top: 68px;
}
#category .title {
    text-align: center;
    margin-top: 15px;
}
#category .title h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
}
#category .title h2{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: bold;
    color: #14183E;
}
#category .item {
    width: 20%;
    text-align: center;
    padding: 40px 0;
    box-shadow: 0px -1px 28px 10px transparent;
    border-radius: 36px;
    position: relative;
    background-color: #fff;
    transition: .8s;
    box-sizing: border-box;
}
#category .item:hover{
    box-shadow: 0px -1px 28px 10px rgba(102,97,102,0.16);
}
#category .item h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1E1D4C;
    margin-top: 30px;
}
#category .item p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    font-weight: 500;
    width: 181px;
    margin: auto;
    margin-top: 15px;
    color: #5E6282;
}
#category .shape {
    width: 100px;
    height: 100px;
    bottom: -32px;
    background-color: transparent;
    left: -33px;
    position: absolute;
    border-radius: 30px 0 10px 0;
    z-index: -1;
    transition: .8s;

}
#category .item:hover .shape{
    background-color:#E7AC72;
}
/* =============================
CATEGORY end
================================ */

/* =============================
topselling css start
================================ */
#topselling{
    padding-top: 73px;
}
#topselling .title{
    text-align: center;
}
#topselling .title h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
}
#topselling .title h2{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: bold;
    color: #14183E;
}
#topselling .flex{
    justify-content: space-around;
    margin-top: 60px;
    position: relative;
}
#topselling .flex .testi {
    position: absolute;
    top: 165px;
    right: -24px;
}
#topselling .item{
    border-radius: 24px;
    width: 30%;
    box-shadow: 0px 29px 65px -31px rgba(92,82,92,0.4);
    position: relative;
    transform: scale(.9);
    transition: .4s;

}
#topselling .item:hover{
    transform: scale(1);
}
#topselling .item img{
    width: 100%;
    height: 457px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

}
#topselling .item .details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 27px;
    box-sizing: border-box;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    
}
#topselling .item .details h4{
    display: flex;
    justify-content: space-between;
    color: #5E6282;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#topselling .item .details p i {
    color: #000;
}
#topselling .item .details p{
    color: #5E6282;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
    display: flex;
}
/* =============================
topselling css end
================================ */
/* =============================
Trip css start
================================ */
#trip {
    margin-top: 75px;
}
#trip .left .title{}
#trip .left{
    width: 40%;
}

#trip .left .box .item{
    position: relative;
    padding-left: 65px;
    margin-top: 48px;
    width: 395px;
}
#trip .left .box{}
#trip .left .box .item img {
    position: absolute;
    top: 15px;
    left: 0;
}
#trip .left .box .item h4{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
}
#trip .left .box .item p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    
}
#trip .left .title p{
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

#trip .left .title h2{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    width: 511px;
}
#trip .right{
    width: 60%;
    text-align: center;
}
/* =============================
Trip css end
================================ */
/* =============================
testimonial css start
================================ */
#testimonial{
    margin-top: 80px;
}
#testimonial .left{
    width: 40%;
    padding-left: 35px;
}
#testimonial .right{
    width: 60%;
    position: relative;
}
#testimonial .left p{
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
#testimonial .left h2{
    font-size: 50px;
    font-family: 'Volkhov', serif;
    font-weight: 700;
}
#testimonial .left ul{
    display: flex;
    column-gap: 25px;
    margin-top: 82px;
}
#testimonial .left ul li:first-child{
    background-color: #212832;
}
#testimonial .left ul li{
    background-color: #E5E5E5;
    border-radius: 50%;
    width: 12px;
    height: 12px;

}
#testimonial .right .boxone{
    background-color: transparent;

    width: 504px;
    position: relative;
    margin-left: 175px;
    margin-top: 88px;
    border-radius: 10px;
    padding: 34px 28px;
    box-sizing: border-box;
    border: 2px solid #F7F7F7 ;
   
}
#testimonial .right .boxtwo {
    background-color: white;
    width: 502px;
    position: absolute;
    top: -125px;
    left: -37px;
    border-radius: 10px;
    padding: 34px 28px;
    box-sizing: border-box;
    box-shadow: 17px 17px 47px 0px rgba(77,72,77,0.1);
}
#testimonial .right .boxtwo,.boxone h4{
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 34px;
}
#testimonial .right .boxtwo, .boxone p{
    color: #5E6282;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
 .boxtwo,.boxone span{
    color: #5E6282;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
}
#testimonial .right ul {
    column-gap: 55px;
    position: absolute;
    right: -100px;
    top: 70px;
    transform: translateY(-50%) rotate(90deg);
}
/* =============================
testimonial css end
================================ */
/* =============================
#Logo css start
================================ */
#logo{
    margin-top: 78px;
    margin-bottom: 130px;
    
}
#logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
}
#logo h2{
    font-size: 38px;
    font-family: 'Volkhov', serif;
    font-weight: 700;
    margin-bottom: 44px;
}
/* =============================
#Logo css end
================================ */
/* =============================
#Subscribe css start
================================ */
#sub .bg {
    background: url("../images/bg.png") no-repeat bottom;
    background-size: cover;
    padding: 79px 0;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 232px;

}
#sub .bg h2{
    color: #5E6282;
    font-size: 33px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 54px;
    width: 859px;
    text-align: center;
    margin: auto;
    
}
#sub .bg .flex{
    justify-content: center;
    column-gap: 24px;
    margin-top: 74px;
}
#sub .bg .emailbox {
    position: relative;
}
#sub .bg .emailbox input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;

}
#sub .bg .emailbox input {
    padding: 25px 31px;
    width: 421px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 48px;
}
#sub .bg .emailbox i {
    position: absolute;
    top: 33px;
    left: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}
#sub .bg button{
    background-image: linear-gradient(#FF946D, #FF7D68);
    border: none;
    padding: 22px 50px;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}
#sub .bg .rocket {
    position: absolute;
    top: -25px;
    right: -25px;
}
#sub .bg .sideimg {
    position: absolute;
    bottom: -50px;
    right: -100px;
}
/* =============================
#Subscribe css end
================================ */
/* =============================
#Footer start
================================ */
footer{}
footer .footeritems{
    column-gap: 72px;
}
footer .footeritems .item{
    width: 20%;

}
footer .footeritems .item:first-child{
    padding-right: 30px;
    box-sizing: border-box;
}
footer .footeritems .item p{
    color: #5E6282;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
}
footer .footeritems .item h4{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
}
footer .footeritems .item ul {
    font-family: 'Poppins', sans-serif;
    margin-top: 34px;
}
footer .footeritems .item ul li{
    color: #5E6282;
    font-size: 18px;
    margin-bottom: 12px;
}
footer .footeritems .icon{
  column-gap: 30px;
  padding-left: 15px;
}
footer .footeritems .icon i{
    height: 41px;
    width: 41px;
    border-radius: 50%;
    box-shadow: 17px 17px 47px 0px rgba(77,72,77,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
footer .footeritems .icon i:hover{
    background: #6F2C34;
    color: #fff;
    box-shadow: transparent;
}
footer .footeritems .lastp p{
    color: #5E6282;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 28px;
 
}
footer .footeritems .four .store{
    display: flex;
    column-gap: 10px;
    margin-top: 16px;
}
footer .footer-bottom{
    text-align: center;
    margin-top: 84px;
}
footer .footer-bottom p{
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

/* =============================
#Footer end
================================ */